.vs
Ucenje/bin
Ucenje/obj
WebAPI/obj
WebAPI/bin

## Ignoriraj generirane build artefakte i konfiguracije ##
bin/
obj/
*.user
*.suo
*.cache
*.vspscc
*.vssscc
*.sln.docstates

.nuget/
packages/
*.nupkg
project.assets.json
project.nuget.cache
*.nuget.props
*.nuget.targets
*.dgspec.json

.editorconfig

*.cache
*.assets.cache

GlobalUsings.g.cs

AssemblyInfo.cs
AssemblyAttributes.cs